
// These are styles that are used in the general webpage.

*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
// body{
//     font-family: $overal-font;
//   }