
// This file carries all the variables in the entire code

$primarycolor:aquamarine;
$transparent: transparent;
$shadesofgrey:grey;
$cadetblue:#5F9EA0;
$white:white;

$logo:'Lobster', cursive;
$overal-font:'Prompt', sans-serif;

